@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: dark ligth;
  background-color: #171717;
}
body {
  font-family: "DM Sans Variable", sans-serif;
}

.dm-mono {
  font-family: "DM Mono", monospace;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(
        0deg,
        rgb(89, 89, 89) 30%,
        #0000 0 70%,
        rgb(114, 114, 114) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgb(89 89 89/25%) 30%,
        #0000 0 70%,
        rgb(114 114 144/75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

.scroll-animation {
  animation: post-animation-revelation auto linear both;
  animation-timeline: view();
  animation-range: entry 20%;
}

@keyframes posts-animation-revelation {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.8;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}
